# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# DMET / PySCF specific
*.molden
*.out
*.log
*.bak
*~
.block2_scratch/
*.chk
*.h5

# C++ Build
lib/build/
lib/object/
lib/objects/
